<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div id="app">
  <table>
    <tr v-for="item in list">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td><img :src="item.img" alt="img"></td>
      <td>{{item.brewers_tips}}</td>
      <td><button>Edit</button></td>
      <td><button @click="delete1(item.name)">Delete</button></td>
    </tr>
    </table>
    <button v-if='type' @click="nextPage">Show next</button>
</div>
<script>
  let app = new Vue({
  el: '#app',
  data: () => ({
    type: true,
    one: '',
    two: 1,
    list: []
  }),

  methods: {
    nextPage(){

      axios
      .get('https://api.punkapi.com/v2/beers?page=1&limit=25')
      .then(response => {
        this.one = response.data
        this.list.push(response.data[this.two])
        if(this.two == response.data.length-1){
          this.type = false
        }
      })
      .catch(error => {
        
      })
      .finally(() => (this.two++));
    },
    delete1(name){
      let index = this.list.findIndex(e => e.name == name)
      this.list.splice(index, 1)
    },
    edit1(){

    }
  },

  mounted() {
    axios
      .get('https://api.punkapi.com/v2/beers?page=1&limit=25')
      .then(response => {
        this.one = response.data
        console.log(this.one)
        this.list.push(response.data[0])
      })
      .catch(error => {
        
      })
      .finally(() => (this.list[0].type = true));
      
  }
});
</script>

<style>
  table {
      border: 1px solid black;
      border-collapse: collapse;
  }

  td {
      border: 1px solid black;
  }
</style>