<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div id="app">
  <table>
    <tr v-for="item in list">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td><img :src="item.img" alt="img"></td>
      <td>{{item.brewers}}</td>
      <td><button @click="deleteItem(item.name)">Delete</button></td>
      <td><button @click="item.typeOfEdit = !item.typeOfEdit">Edit</button></td>
      <td v-if="item.typeOfEdit"><input @keyup.enter="item.typeOfEdit = false" v-model="item.name" type="text"></td>
    </tr>
    </table>
    <button v-if='type' @click="nextPage">Show next</button>
</div>
<script>
  let app = new Vue({
  el: '#app',
  data: () => ({
    type: true,
    one: '',
    two: 1,
    list: []
  }),

  methods: {
    nextPage(){
      axios
      .get('https://api.punkapi.com/v2/beers?page=1&limit=25')
      .then(response => {
        this.one = response.data[this.two]
        this.list.push({
          id: this.one.id,
          name: this.one.name,
          description: this.one.description,
          img: this.one.image_url,
          brewers: this.one.brewers_tips,
          typeOfEdit: false
        })
        if(this.two == response.data.length-1){
          this.type = false
        }
      })
      .catch(error => {
        
      })
      .finally(() => (this.two++));
      console.log(this.list)
    },
    deleteItem(name){
      let index = this.list.findIndex(e => e.name == name)
      this.list.splice(index, 1)
    }
  },

  mounted() {
    axios
      .get('https://api.punkapi.com/v2/beers?page=1&limit=25')
      .then(response => {
        this.one = response.data[0]
        console.log(this.one)
        this.list.push({
          id: this.one.id,
          name: this.one.name,
          description: this.one.description,
          img: this.one.image_url,
          brewers: this.one.brewers_tips,
          typeOfEdit: false
        })
      })
      .catch(error => {
        
      })
      .finally();
      
  }
});
</script>

<style>
  table {
      border: 1px solid black;
      border-collapse: collapse;
  }

  td {
      border: 1px solid black;
  }

  img {
    width: 60px;
  }
</style>